*.class
bin
compiler/classes/gallifreyc
tests/out/*
tests/java-out/*
!tests/java-out/.keep
tests/*.class
tests/*.results
.DS_Store
*.DS_Store
*/.DS_Store
lib/gallifreyc.jar
lib/gallifrey-antidote-all.jar
compiler/src/gallifreyc/parse/Lexer_c.java
compiler/src/gallifreyc/parse/Grm.java
compiler/src/gallifreyc/parse/gallifreyc_ppg.cup

